<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

    {{!-- header --}}
    <header>
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="name"/></h1>
            <div class="resources grid grid-3col">
                <div class="resource flex-group-center">
                    <label for="system.resources.health.value" class="resource-label">Health</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <input type="text" name="system.resources.health.value" value="{{document.system.resources.health.value}}" data-dtype="Number"/>
                        <span>/</span>
                        <span>{{document.system.resources.health.max}}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    {{!-- sheet tabs --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="main">Main</a>
        <a class="item" data-tab="inventory">Inventory</a>
    </nav>
</form>

